/* Tailwind está via CDN, então aqui é só ajuste fino */

html, body {
  scroll-behavior: smooth;
}

/* Evita seleção acidental em botões pequenos */
button {
  -webkit-tap-highlight-color: transparent;
}

/* Fonte imagem home*/
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}
.select-premium{
  width: 100%;
  margin-top: 0.5rem;

  border-radius: 1rem; /* rounded-2xl */
  border: 1px solid #e7dccf;

  background: rgba(255, 255, 255, 0.9);
  padding: 0.75rem 1rem; /* py-3 px-4 */

  font-size: 0.875rem;
  line-height: 1.25rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  outline: none;

  transition: all 200ms ease;
  appearance: none; /* remove estilo padrão */
}

/* hover */
.select-premium:hover {
  border-color: #d9c6b3;
}

/* focus premium */
.select-premium:focus {
  border-color: #c9b79c;
  box-shadow:
    0 0 0 4px rgba(201, 183, 156, 0.20),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.input-premium{
  width: 100%;
  margin-top: 0.5rem;

  border-radius: 1rem; /* rounded-2xl */
  border: 1px solid #e7dccf;

  background: rgba(255, 255, 255, 0.9);
  padding: 0.75rem 1rem; /* py-3 px-4 */

  font-size: 0.875rem;
  line-height: 1.25rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  outline: none;

  transition: all 200ms ease;
}

/* hover */
.input-premium:hover {
  border-color: #d9c6b3;
}

/* focus premium */
.input-premium:focus {
  border-color: #c9b79c;
  box-shadow:
    0 0 0 4px rgba(201, 183, 156, 0.20),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

/* placeholder mais elegante */
.input-premium::placeholder {
  color: #a8a29e; /* stone-400 */
}

/* Perspectiva 3D do envelope*/
.perspective {
  perspective: 1200px;
}

/* Aba com efeito laser cut do envelope*/
.laser {
  clip-path: polygon(
    0 0,
    100% 0,
    50% 85%
  );
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255,255,255,0.3),
      rgba(255,255,255,0.3) 2px,
      transparent 2px,
      transparent 6px
    );
}

/* Selo do envelope*/
#selo {
  box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.3),
    inset 0 -3px 5px rgba(0,0,0,0.3),
    0 6px 15px rgba(0,0,0,0.4);
}

/* Aba triangular do envelope */
.envelope-flap {
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform-origin: top center;
  backface-visibility: hidden;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

 /* Fade animation */
.fade-slide {
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

.fade-slide.active {
  opacity: 1;
  pointer-events: auto;
}

/* Desktop */
#lista-presentes > div {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
}

/* Hover só no desktop */
@media (min-width: 768px) {
  #lista-presentes > div:hover {
    box-shadow: 0 6px 14px rgba(0,0,0,0.08);
  }
}

/* Mobile estilo marketplace */
@media (max-width: 767px) {
  #lista-presentes > div {
    border-radius: 4px;
    box-shadow: none !important;
    border: 1px solid #f0f0f0;
  }
}

/* Fonte presentes*/
.presentes-font {
  font-family: "Aboreto", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Fonte Raking*/
.raking-font {
  font-family: "Aboreto", cursive;
  font-weight: 20;
  font-style: normal;
}

/* Fonte momentos especiais home*/
.home_moment {
  font-family: "Aboreto", cursive;
  font-weight: 100;
  font-style: normal;
}

.home_grande_dia{
  font-family: "Aboreto", cursive;
  font-weight: 100;
  font-style: normal;
}
